In [ ]:
def personal_details():
    name = "Sandra Santhosh" 
    address = "Chollambel(H),Koothattukulam P.O,Koothattukulam,Ernakulam,India"
    print("\n Name: {}\n Address: {}".format(name, address))
 
personal_details()

In [ ]:
#2
y = int(input("enter final leap year"))
print("future leap year from 2021")
for x in range (2021 , y+1):
  if ((x%4 == 0) and (x%100 != 0)):
    print(x)

In [ ]:
#3a
list1 = [-10,11, -21, 20, 45, 66, -93]
list2 = [x for x in list1 if x>0]
print("list of positive integers:", list2)

In [ ]:
#3b
n = int(input("Enter the limit: "))
squares = [i*i for i in range (1, n+1) ]
print("Square of the numbers: ", squares)

In [ ]:
#3c
n1="Square of N numbers"
vowels =['a','e','i','o','u']
l1=[]
for x in n1:
  if(x in vowels and x not in l1):
    l1.append(x)
print("vowels present in the given statement",l1)

In [ ]:
#3d
n1=input("enter a word:")
for l in range(len(n1)):
  print("ordinal value of",n1[l],"is",ord(n1[l]))

In [ ]:
#4
def wordcount(str):
  counts = {}
  words = str .split()
  for word in words:
    if word in counts:
      counts[word] += 1
    else :
      counts[word] = 1
  return counts
print( wordcount('The quick brown fox jumps over the lazy dog'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [ ]:
#5
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list :" ,x)

enter any integers :5
25
50
75
100
125
modified list : [25, 50, 75, 100, 'over']

In [ ]:
#6
n =input("Enter the first names:")
list = []
count = 0
for x in n:
  list.append(x)
  if(x in n and x == 'a'):
    count = count + 1
print(count)

In [ ]:
#7a
list1 = [1, 2, 5, 8, 3]
list2 = [1, 2, 5, 8, 9]
print("The first list is : " + str(list1))
print("The second list is :" + str(list2))
l1 = len(list1)
l2 = len(list2)
print("Length of list1 :", l1 )
print("Length of list2 :", l2 )
if l1 == l2 :
  print("The lists are of same length")
else :
  print("The lists are of different length")

The first list is : [1, 2, 5, 8, 3]
The second list is :[1, 2, 5, 8, 9]
Length of list1 : 5
Length of list2 : 5
The lists are of same length

In [ ]:
#7b
list1 = [1, 2, 5, 8, 3]
list2 = [1, 2, 5, 8, 9]
print("The first list is : " + str(list1))
print("The second list is :" + str(list2))
sum1 = 0
sum2 = 0
for x in range (0 , len(list1)):
  sum1 = sum1 + list1[x]
print("sum of all elements in given list1 : ",sum1)
for x in range (0 ,len(list2)):
  sum2 = sum2 + list2[x]
print("sum of all elements in given list1 : ",sum2)

if(sum1 == sum2):
  print("Lists sums to same value")
else :
   print("Lists sums to different value")

The first list is : [1, 2, 5, 8, 3]
The second list is :[1, 2, 5, 8, 9]
sum of all elements in given list1 :  19
sum of all elements in given list1 :  25
Lists sums to different value

In [ ]:
#7c
list1 = [1, 2, 5, 8, 3]
list2 = [1, 2, 5, 8, 9]
print("The first list is : " + str(list1))
print("The second list is :" + str(list2))
print("The values occur in both lists : ")
for x in list1:
  if(x in list1 and x in list2):
    print(x)

In [ ]:
def loop_year(year):
   print(num, end = " ") 
    x = 0
    while x < 20:
        if year % 4 != 0 and year % 400 != 0:
            year +=1
            ##print("%s is a common year") %(year)
        elif year % 100 != 0:
            year +=1
            print(("%s is a leap year") % (year))
            x += 1


loop_year(2020)

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle : " + str(pi*r*r))

Input the radius of the circle : 2
The area of the circle : 12.566370614359172

In [ ]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
 
if (a > b) and (a > c):
   largest = a
elif (b > a) and (b > c):
   largest = b
else:
   largest = c
 
print("The largest number is",largest)

In [ ]:
fname = input("Input the Filename: ")
f_ext = fname.split(".")
print ("The extension of the file is : " + repr(f_ext[-1]))

In [ ]:
color_list = []  
for i in range(5):
    print("Enter value of n[", i, "]")
    color_list.append(input())
print(color_list)
print( "First Color : %s"%(color_list[0]))
print( "Last Color  : %s"%(color_list[-1]))

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

In [ ]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

In [ ]:
c_list_1 = set(["Yellow", "Black", "Blue","Red"])
c_list_2 = set(["Red", "Green","Blue"])

print(c_list_1.difference(c_list_2))

{'Yellow', 'Black'}

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order  : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order  : ',sorted_d)

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
import math
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))

c = math.gcd(a,b)
print("GCD is =",c)

In [ ]:
list = [11, 22, 33, 44, 55]
print("Original list:")
print(list)

for i  in list:
	if(i%2 == 0):
	    list.remove(i)
print("list after removing EVEN numbers:")
print (list)

In [ ]:
def ch_swap(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(ch_swap('abc', 'xyz'))

In [ ]:
str = input("Enter a string : ")
new_str = str[-1:] + str[1:-1] + str[:1]
print(new_str)

In [ ]:
def change_char(str1):
  str1 = input("Enter a string : ")
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('str1'))