In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle : " + str(pi*r*r))

Input the radius of the circle : 2
The area of the circle : 12.566370614359172

In [ ]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
 
if (a > b) and (a > c):
   largest = a
elif (b > a) and (b > c):
   largest = b
else:
   largest = c
 
print("The largest number is",largest)

In [ ]:
fname = input("Input the Filename: ")
f_ext = fname.split(".")
print ("The extension of the file is : " + repr(f_ext[-1]))

In [ ]:
color_list = []  
for i in range(5):
    print("Enter value of n[", i, "]")
    color_list.append(input())
print(color_list)
print( "First Color : %s"%(color_list[0]))
print( "Last Color  : %s"%(color_list[-1]))

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

In [ ]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

In [ ]:
c_list_1 = set(["Yellow", "Black", "Blue","Red"])
c_list_2 = set(["Red", "Green","Blue"])

print(c_list_1.difference(c_list_2))

{'Yellow', 'Black'}

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order  : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order  : ',sorted_d)

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
import math
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))

c = math.gcd(a,b)
print("GCD is =",c)

In [ ]:
list = [11, 22, 33, 44, 55]
print("Original list:")
print(list)

for i  in list:
	if(i%2 == 0):
	    list.remove(i)
print("list after removing EVEN numbers:")
print (list)

In [ ]:
def ch_swap(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(ch_swap('abc', 'xyz'))

In [ ]:
str = input("Enter a string : ")
new_str = str[-1:] + str[1:-1] + str[:1]
print(new_str)

In [ ]:
def change_char(str1):
  str1 = input("Enter a string : ")
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('str1'))